.ContactData{
    margin: 20px auto;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px #ccc;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    height: 520px;
}
.Input{
    display:block
}
@media(min-width:600px){
    .ContactData{
        width: 500px;
    }
}